---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script>

<div id="typed-strings">
</div>

<script>
    var typed = new Typed('#typed', {
        strings: ["Hello, Bonjour, नमस्ते !", "Security architect, cloud whisperer, and automation champion - I'm your DevSecOps shield! ️☁️",
            "4+ years building secure castles across AWS, Azure, and GCP. Your cloud's knight in shining code. ️☁️",
            "From CI/CD pipelines to Kubernetes deployments, I secure your journey to the cloud.",
            "Let's talk zero-trust, automation, and innovative projects. I'm ready to level up your DevSecOps game!",
            "Experienced, passionate, and results-driven. Hire me, and let's build secure cloud solutions together! ☁️",
        ],
        backSpeed: 25,
        smartBackspace: true,
        backDelay: 1500,
        startDelay: 1000,
        typeSpeed: 15,
        loop: true,

    });
</script>

</html>